@import "reset.css";
@import "variables.css";

.dark {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--bg);
    color: var(--fg);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-size: 1.1rem;
}

main {
    flex-grow: 1;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    opacity: 0.8;
    color: var(--accent);
}

a:hover {
    opacity: 1;
    text-decoration: underline;
}

.contained {
    max-width: 88em;
    margin-inline: auto;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

header,
footer {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    line-height: 1;

    & .logo-title {
        display: flex;
        align-items: flex-end;
        font-size: x-large;
    }

    & .logo {
        width: 35px;
        padding-bottom: 2px;
    }

    & .navlinks-desktop {
        display: flex;
        gap: 1em;
        font-size: large;
        padding-right: 1em;
    }
}

footer {
    display: flex;
    align-content: center;
    gap: 1em;
}

#theme-toggle {
    width: 18px;
}

#moon-icon {
    display: none;
}

.dark #sun-icon {
    display: none;
}

.dark #moon-icon {
    display: block;
}

.home-section {
    margin-bottom: 4em;
}

.home-section h2 {
    margin-bottom: 1em;
    font-size: 1.4rem;
    opacity: 0.9;
}

.post-list .post-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5em;
}

.post-list time {
    flex-shrink: 0;
    width: 8em;
    font-variant-numeric: tabular-nums;
    opacity: 0.7;
    font-size: 0.95em;
}

.post-list a {
    color: var(--fg);
    text-decoration: none;
}

.post-list a:hover {
    text-decoration: underline;
    color: var(--accent);
}

.category-list li {
    margin-bottom: 0.8em;
}

.category-list a {
    color: var(--fg);
    text-decoration: none;
    font-weight: 500;
}

.category-list a:hover {
    color: var(--accent);
}

.category-desc {
    display: block;
    font-size: 0.9em;
    opacity: 0.7;
    margin-top: 0.2em;
    margin-left: 1em;
}

.more-link {
    margin-top: 1.5em;
    font-size: 0.95em;
}

.more-link a {
    color: var(--accent);
    text-decoration: none;
}

.more-link a:hover {
    text-decoration: underline;
}
