<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-title" content="jtabb" />
        <meta name="theme-color" content="#1f2028" />
        <meta name="subject" content="jtabb.dev" />
        <meta name="rating" content="General" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://jtabb.dev/apple-touch-icon.png" />
        <meta property="og:image:alt" content="jtabb.dev logo" />
        <meta property="og:site_name" content="jtabb.dev" />
        <meta property="og:locale" content="en_US" />
        {%- if page.title -%}
            <title>{{ page.title }}</title>
            <meta property="og:title" content="{{ page.title }}" />
        {%- elif section.title -%}
            <title>{{ section.title }}</title>
            <meta property="og:title" content="{{ section.title }}" />
        {%- else -%}
            <title>{{ config.title }}</title>
            <meta property="og:title" content="{{ config.title }}" />
        {%- endif -%}
        {%- if page.description -%}
            <meta name="description" content="{{ page.description }}"/>
            <meta property="og:description" content="{{ page.description }}" />
        {%- elif section.description -%}
            <meta name="description" content="{{ section.description }}"/>
            <meta property="og:description" content="{{ section.description }}" />
        {%- else -%}
            <meta name="description" content="{{ config.description }}"/>
            <meta property="og:description" content="{{ config.description }}" />
        {%- endif -%}

        <style>
            {{ load_data(path="style.min.css", required=true) | safe }}
        </style>

        <link rel="preconnect" href="https://gc.zgo.at">

        <link rel="shortcut icon" href={{ get_url(path="/favicon.ico") | safe }} />
        <link rel="icon" type="image/png" href={{ get_url(path="/favicon-96x96.png") | safe  }} sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href={{ get_url(path="/favicon.svg") | safe }} />
        <link rel="apple-touch-icon" sizes="180x180" href={{ get_url(path="/apple-touch-icon.png") | safe }}/>

        <script>
            (function initTheme() {
                const savedTheme = localStorage.getItem("theme");

                if (savedTheme === "dark") {
                    document.documentElement.classList.add("dark");
                } else if (savedTheme === "light") {
                    document.documentElement.classList.remove("dark");
                } else {
                    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                        document.documentElement.classList.add("dark");
                    }
                }
            })();
        </script>
        <link rel="preload" href="{{ get_url(path="js/toggle-theme.js") }}" as="script">
        <script src="{{ get_url(path="js/toggle-theme.js") }}" defer></script>
        <script data-goatcounter="https://jollyjerr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

    <body>
        <header class="contained">
            <div class="logo-title">
                <a href="{{ get_url(path="/") }}" aria-label="Navigate home">
                    <img width="35" height="35" alt="8Bit style character"
                         src="{{ get_url(path="/logo.webp") | safe }}"
                         class="logo" />
                </a>
                <h1>
                    / {{" "}}
                    {%- if page.extra.navname -%}
                        {{ page.extra.navname }}
                    {%- elif section.extra.navname -%}
                        {{ section.extra.navname }}
                    {%- else -%}
                        blog
                    {%- endif -%}
                </h1>
            </div>
        </header>

        <main class="contained">
            {% block content %}{% endblock content %}
        </main>

        <footer class="contained">
            <a href="{{ get_url(path="/") }}">home</a>
            <a href="{{ get_url(path="/about") }}">about</a>
            <a href="{{ get_url(path="/links") }}">links</a>
            <a href="{{ get_url(path="/search") }}">search</a>
            <button
                id="theme-toggle"
                aria-label="Toggle theme"
            >
                <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M12 3v1m0 16v1m9-9h-1M4 12H3m3.343-5.657L5.636 5.636m12.728 12.728L18.364 18.364M12 7a5 5 0 110 10 5 5 0 010-10z"/>
                </svg>
                <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"/>
                </svg>
            </button>
        </footer>
    </body>

</html>

