{% extends "base.html" %}

{% block content %}

  {{ section.content | safe }}

  <h2>Blogs</h2>
  <ul>
    {% set blogs = get_section(path="blog/_index.md") %}
    {% for post in blogs.pages %}
      <li>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        {% if post.date %} - {{ post.date | date(format="%Y-%m-%d") }}{% endif %}
      </li>
    {% endfor %}
  </ul>

  <h2>Notes</h2>
  <ul>
    {% set notes = get_section(path="notes/_index.md") %}
    {% for subsection_path in notes.subsections %}
      {% set sub = get_section(path=subsection_path) %}
      <li><a href="{{ sub.permalink }}">{{ sub.title | default(value="Untitled") }}</a></li>
    {% endfor %}
  </ul>

{% endblock content %}
