{% extends "base.html" %}

{% block content %}
  {% if page.path is starting_with("/notes") %}
    <nav aria-label="Breadcrumb" class="breadcrumbs">
      <ol>
        {% for ancestor_path in page.ancestors | slice(start=1) %}
          {% set ancestor = get_section(path=ancestor_path) %}
          <li>
            <a href="{{ ancestor.permalink }}">
              {{ ancestor.title
              | default(
              value=ancestor_path
              | split(pat="/")
              | last
              | replace(from="-", to=" ")
              | title
              )
              }}
            </a>
            /
          </li>
        {% endfor %}
      </ol>
    </nav>
  {% endif %}
  <article>
    {{ page.content | safe }}
  </article>
  {%- if page.taxonomies.tags %}
    <ul class="post-tags" aria-label="Tags">
      <h2>Tags:</h2>
      {% for tag in page.taxonomies.tags %}
        <li>
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
            #{{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{% endblock content %}
