name: sync-algolia-index
on:
  push:
    branches: [main]
env:
  ALGOLIA_APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
  ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'
      - name: install
        run: pip3 install -r scripts/requirements.txt
      - name: run-sync
        run: python3 scripts/algolia-import.py
